
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 style="color:white;" class="display-4">Welcome To Judgment Writer</h1>
</div>

<div>
    <button onclick="location.href='@Url.Action( "Login", "Judges")'" class="btn btn-primary">login</button>
    <button onclick="location.href= '@Url.Action( "Create", "Judges")'" class="btn btn-primary">Register</button>
</div>









